.app-div {
  position: absolute;
  width: 100%;
}

.home-page {
  width: 100%;
  height: 98vh;
  background: image-url('cher-house-01_46b8cd5d1b101c1646ec6d69f4ae58c3.fit-860w');
  background-size: cover;
  position: absolute;
}

.home-header .login-signup {
  border: none;
}
.home-header > h1{
  display: flex;
  margin-top:4%;
  margin-left: 15%;
  color: antiquewhite;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-weight: bold;
}

.home-header > nav > a > div > div > div > svg {
  fill: white !important;
}


.login-signup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ebebeb;
  height: 60px;
}

.login-signup > a:link {
  text-decoration: none;
  color: white;
  background-color: transparent;
}

.login-signup > a {
  display: flex;
  border: none;
  background-color: transparent;
  height: 57px;
  margin-left: 10%;
  margin-top: 34px;
  color: white;
  font-size: 14px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  outline: none;
  border: 3px solid transparent;
  outline: none;
}
// .login-signup > a > div > div > div > svg{
//   fill: white !important;
// }

.login-signup > a:hover {
  cursor: pointer;
}


.session-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 65%;
}

.session-menu > button {
  display: flex;
  border: none;
  background-color: transparent;
  border: 3px solid transparent;
  outline: none;
  height: 100px;
  color: white;
  font-size: 14px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.session-menu > button:hover {
  text-decoration: none;
  cursor: pointer;
  border-bottom-color: rgb(230, 230, 230);
  border-bottom-style: solid;
  border-bottom-width: 3px;
}



// homepage
.header-group {
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.header-group > h2 {
  color: white;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-weight: normal;
  font-size: 20px;
  margin-top: 39px;
  margin-right: 8%;
}
.header-group > button {
  text-decoration: none;
  display: flex;
  background-color: transparent;
  height: 100px;
  margin-left: 10%;
  color: white;
  font-size: 14px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  outline: none;
  border: 3px solid transparent;
}

.header-group > button:hover {
  cursor: pointer;
  border-bottom-color: rgb(230, 230, 230);
  border-bottom-style: solid;
  border-bottom-width: 3px;
}

.header-group > a:link {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
.header-group > a:link:hover {
  cursor: pointer;
}

.header-group > a {
  display: flex;
  margin-left: 10%;
  margin-top: 33px;
  outline: none;
  fill: white;
}

.header-group > a:hover {
  cursor: pointer;
}

.header-group > a:link > div > div .svg-main-icon-wrapper > svg {
  fill: white;
}







// not homepage
.header-group-other {
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.header-group-other > button {
  text-decoration: none;
  display: flex;
  background-color: transparent;
  height: 100px;
  margin-left: 10%;
  color: white;
  font-size: 14px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  outline: none;
  border: 3px solid transparent;
}

.header-group-other > button:hover {
  cursor: pointer;
  border-bottom-color: rgb(230, 230, 230);
  border-bottom-style: solid;
  border-bottom-width: 3px;
}

.header-group-other > a {
  display: flex;
  margin-left: 10%;
  margin-top: 33px;
  outline: none;
}

.header-group-other > a:hover {
  cursor: pointer;
}


#guest-dropdown{
  border-radius: 3px;
  border-color: rgb(230, 230, 230);
  border-style: solid;
  border-width: 1px;
  background: white;
  padding: 10px;
  width: 220px;
  margin-top: 2px;
}
#guest-dropdown > section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
#guest-dropdown > section > span {
  margin-right: 50%;
}

.guest-dropdown-buttons {
  display: flex;
  align-items: center;
}

.guest-dropdown-buttons > button {
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0,132,137,0.3);
  color: rgba(0,132,137,0.3);
  border-radius: 50%;
  height: 32px;
  width: 32px;
  margin-right: 9px;
  margin-left: 9px;
}



