.app-div {
  position: absolute;
  width: 100%;
}

.home-page {
  width: 100%;
  height: 98vh;
  background: image-url('cher-house-01_46b8cd5d1b101c1646ec6d69f4ae58c3.fit-860w');
  background-size: cover;
  position: absolute;
}
.home-header > h1{
  display: flex;
  margin-top:4%;
  margin-left: 15%;
  color: antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}


.login-signup {
  display: flex;
  align-items: center;
  justify-content: space-between
}

.login-signup > a:link {
  text-decoration: none;
  color: white;
  background-color: transparent;
}

.login-signup > a {
  display: flex;
  border: none;
  background-color: transparent;
  height: 57px;
  margin-left: 10%;
  margin-top: 34px;
  color: white;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  outline: none;
  border: 3px solid transparent;
  outline: none;
}

.login-signup > a:hover {
  cursor: pointer;
  border-bottom-color: rgb(230, 230, 230);
  border-bottom-style: solid;
  border-bottom-width: 3px;
}


.session-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 65%;
}

.session-menu > button {
  display: flex;
  border: none;
  background-color: transparent;
  border: 3px solid transparent;
  outline: none;
  height: 100px;
  color: white;
  text-shadow: -.3px -.3px 0 #000,
		.3px -.3px 0 #000,
		-.3px .3px 0 #000,
		.3px .3px 0 #000;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.session-menu > button:hover {
  text-decoration: none;
  cursor: pointer;
  border-bottom-color: rgb(230, 230, 230);
  border-bottom-style: solid;
  border-bottom-width: 3px;
}

.header-group > h2 {
  color: white;
  text-shadow: -.3px -.3px 0 #000,
		.3px -.3px 0 #000,
		-.3px .3px 0 #000,
		.3px .3px 0 #000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 20px;
  margin-top: 39px;
  margin-right: 8%;
}

.header-group {
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.header-group > button {
  text-decoration: none;
  display: flex;
  background-color: transparent;
  height: 100px;
  margin-left: 10%;
  color: white;
  text-shadow: -.3px -.3px 0 #000,
  .3px -.3px 0 #000,
  -.3px .3px 0 #000,
  .3px .3px 0 #000;
  font-size: 16px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  outline: none;
  border: 3px solid transparent;
}

.header-group > button:hover {
  cursor: pointer;
  border-bottom-color: rgb(230, 230, 230);
  border-bottom-style: solid;
  border-bottom-width: 3px;
}

.header-group > a:link {
  text-decoration: none;
  color: white;
  text-shadow: -.3px -.3px 0 #000,
  .3px -.3px 0 #000,
  -.3px .3px 0 #000,
  .3px .3px 0 #000;
  font-size: 16px;
}

.header-group > a {
  display: flex;
  border: none;
  background-color: transparent;
  height: 60px;
  margin-left: 10%;
  margin-top: 40px;
  color: white;
  text-shadow: -.3px -.3px 0 #000,
  .3px -.3px 0 #000,
  -.3px .3px 0 #000,
  .3px .3px 0 #000;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  outline: none;
}

.header-group > a:hover {
  text-decoration: none;
  cursor: pointer;
  border-bottom-color: rgb(230, 230, 230);
  border-bottom-style: solid;
  border-bottom-width: 3px;
}

#guest-dropdown{
  border-radius: 5px;
  border-color: rgb(230, 230, 230);
  border-style: solid;
  border-width: 1px;
  background: white;
  padding: 10px;
  width: 220px;
  margin-top: 2px;
}
#guest-dropdown > section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
#guest-dropdown > section > span {
  margin-right: 50%;
}

.guest-dropdown-buttons {
  display: flex;
  align-items: center;
}

.guest-dropdown-buttons > button {
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0,132,137,0.3);
  color: rgba(0,132,137,0.3);
  border-radius: 50%;
  height: 32px;
  width: 32px;
  margin-right: 9px;
  margin-left: 9px;
}



