.index {
  display: flex;
  flex-wrap: wrap;
}

.index > section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.index > section > div {
  width: 100px;
  margin-right: 30%;
  margin-left: 10%;
  margin-bottom: 10%;
}
