.spot-search {
  // margin-top: 52%;
}

#map-container {
  margin-left: 7%;
}
.index {
  display: flex;
  flex-wrap: wrap;
}

.index > h2 {
  margin-bottom: 50px;
  font-weight: 300;
}

.index > section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: -9.8%;
}
.index > section > div {
  width: 300px;
  margin-left: 10%;
  margin-right: -3%;
  margin-bottom: 10%;
}

.spot-link {
  text-decoration: none;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  color: #484848;
  font-size: 14px;
  list-style: none;
}

.spot-link > img {
  width: 300px;
  height: 200px;
  // margin-right: 200px;
  margin-bottom: 20px;
  border-radius: 3px;
}

.spot-link > li {
  text-decoration: none;
}

.spot-address {
  font-size: 14px;
  font-weight: bolder;
  color: #0a7276;
  margin-bottom: 6px;
  text-transform: uppercase;
}
.spot-title {
  font-size: 16px;
  font-weight: bolder;
  margin-bottom: 8px;
}

.spot-price {
  font-weight: lighter;
}

.index-item-ratings {
  display: flex;
  flex-direction: row;
}

.index-item-average {
  color: teal;
  font-weight: 300;
}
