.autocomplete-dropdown-container {
  position: absolute;
  z-index: 1;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-size: 14px;
  margin-left: 12.5px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  margin-top: -7px;
}

#autodropdown-search {
  margin-left: 0;
}

#autodropdown-show {
  margin-left: 0;
}

.autocomplete-dropdown-container > div {
  padding: 15px;
}

.bookings-search > div > div {
  margin-top: none;
  margin-left: 2%;
  border: 2px solid #ebebeb00;
  border-radius: 3px;
}

.search-show-greeting-filter {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.search-show-greeting {
  background: white;
  // height: 50px;
}
.search-show-greeting > hgroup > button {
  color: black;
}
.search-show-greeting > nav > section > button {
  color: black;
}

.search-show-filters {
  display: flex;
  height: 47px;
  background: white;
  border-bottom: 1px solid #ebebeb;
  padding-top: 13px;
}
.search-show-filters > div > div > input {
  width: 400px;
  height: 44px;
  border-right: 50px;
  border-radius: 3px;
  border-color: rgb(230, 230, 230);
  border-style: solid;
  border-width: 2px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-size: 15px;
  padding-left: 50px;
  color: #484848;
  margin-bottom: 1%;
  outline: none !important;
}
.search-show-filters > .guests > input {
  width: 76%;
  height: 29.6px;
  border-radius: 3px;
  border-color: #e6e6e6;
  border-style: hidden;
  border-width: 1px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 100;
  padding-left: 10px;
  color: white;
  background: #008489;
  margin-bottom: 1%;
  outline: none !important;
}
.search-show-filters > .guests > input:hover {
  cursor: pointer;
  background: #43a9a9;
}

.search-show-filters .datepickers {
  height: 50%;
  margin-left: 1%;
}
.search-show-filters .datepickers .date-pickers {
  width: 200px;
}
.search-show-filters .datepickers .date-pickers .DateRangePicker {
  width: 200px;
}
.search-show-filters .datepickers .date-pickers .DateRangePicker > div > div {
  border-style: hidden;
  background: #008489;
}
.search-show-filters
  .datepickers
  .date-pickers
  .DateRangePicker
  > div
  > div:hover {
  border-style: hidden;
  background: #43a9a9;
}
.search-show-filters
  .datepickers
  .date-pickers
  .DateRangePicker
  > div
  > div
  > div
  .DateInput_input {
  background: #008489;
  color: white;
  border-radius: 3px;
  height: 10px;
}
.search-show-filters
  .datepickers
  .date-pickers
  .DateRangePicker
  > div
  > div
  > div
  .DateInput_input:hover {
  cursor: pointer;
  background: #43a9a9;
}
.search-show-filters
  .datepickers
  .date-pickers
  .DateRangePicker
  > div
  > div
  > .DateInput {
  position: unset;
}
.search-show-filters
  .datepickers
  .date-pickers
  .DateRangePicker
  > div
  > div
  > div
  .DateRangePickerInput_arrow_svg {
  fill: white;
}
.search-show-filters
  .datepickers
  .date-pickers
  .DateRangePicker
  > div
  > div
  > div
  .DateInput_input::placeholder {
  color: white;
}

.search-show-filters .datepickers > button {
  height: 50%;
  margin-left: 2%;
}

.search-show-contents {
  display: flex;
  margin-top: 105.8px;
}

.search-show-index {
  margin-left: 58px;
  min-width: 670px;
  min-height: 150%;
  overflow: hidden;
}
.search-show-index .index > section > div {
  border-bottom: 1px solid #ebebeb;
  width: 200px;
  margin-bottom: 5%;
  margin-right: 10%;
}

.search-show-map {
  position: sticky;
  top: 204px !important;
  z-index: 4;
  margin-right: 3%;
  margin-top: 99px;
  height: 600px;
}
.search-show-map #map-container {
  position: sticky !important;
  top: 20px !important;
  height: 600px;
  width: 500px;
}

.spot-show-searchbar {
  position: absolute;
  top: 7px;
  left: 69px;
}

.date-apply-span {
  color: #008489;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-size: 14px;
  padding-left: 5px;
  padding-top: 5px;
}
.date-apply-span:hover {
  cursor: pointer;
}
