.autocomplete-dropdown-container {
  position: absolute;
  z-index: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.bookings-search > div > div {
  margin-top: none;
  margin-left: 2%;
  border: 2px solid #ebebeb00;
  border-radius: 3px;
}



.search-show-greeting{
  background: gray
}

.search-show-filters {
  display: flex;
  height: 80px;
}
.search-show-filters > div > input{
  width: 140%;
  height: 44px;
  border-right: 50px;
  border-radius: 5px;
  border-color: rgb(230, 230, 230);
  border-style: solid;
  border-width: 1px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding-left: 10px;
  color:#484848; 
  margin-bottom: 1%;
}
.search-show-filters > .guests > input{
  width: 70%;
  height: 44px;
  border-radius: 5px;
  border-color: rgb(230, 230, 230);
  border-style: solid;
  border-width: 1px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding-left: 10px;
  color:#484848; 
  margin-bottom: 1%;
}

.search-show-filters .datepickers {
  height: 50%;
  margin-left: 1%;
}

.search-show-filters .datepickers > button {
  height: 50%;
  margin-left: 2%;
}

.search-show-contents {
  display: flex;
  float: right;
}


.search-show-map {
  position: sticky;
  top: 20px !important;
  margin-right: 3%;
  height: 700px;
}
.search-show-map #map-container {
  position: sticky !important;
  top: 20px !important;
  height: 700px;
  width: 500px;
}