
.show-navbar-div {
  position: sticky;
  top: 0;
  z-index: 4;
}
.show-navbar-div > div{
  display: flex;
  height: 70px;
  background: white;
  border: 1px solid rgba(0,132,137,0.3);
}
.show-navbar {
  background: image-url('cherheader.original.jpg');
}


.search-icon {
  z-index: 1;
  position: absolute;
  padding: 15px;
}


#show-greeting > li {
  height: 50px;
  width: 40px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
#show-greeting .location-search-input {
  width: 400px;
  height: 44px;
  border-right: 50px;
  border-radius: 3px;
  border-color: rgb(230, 230, 230);
  border-style: solid;
  border-width: 1px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 15px;
  padding-left: 50px;
  color:#484848; 
  margin-bottom: 1%;
}

.show-div {
  list-style: none;
  width: 40%;
  margin-top: 5%;
  margin-left: 5%;
}

.show-div > img {
  border-radius: 3px;
  height: 350px;
  width: 100%;
}

.basic-info {
  border-bottom: 1px solid #ebebeb;
  margin: 8px;
}

.show-spot-type {
  text-transform: uppercase;
  font-size: 14px;
}
.show-title {
  font-size: 30px;
  font-weight: bold;
}
.show-address {
  font-size: 18px;
  margin-bottom: 8px;
}




.show-ammenities {
  margin: 8px;
  border-bottom: 1px solid #ebebeb;
}
.show-ammenities > h4{
  font-weight: 500;
  color: #484848;
}

.amenities {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  box-sizing: border-box;
}

.amenities > div{
  display: flex;
  font-weight: 100;
  margin: 20px;
  width: 100px;
}
.amenities > div > div{
  margin-right: 5px;
}





.show-description {
  border-bottom: 1px solid #ebebeb;
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: lighter;
}
.show-description > li {
  margin: 8px;
  font-weight: lighter;
}

.whole-show {
  display: flex;
}

.whole-show .bookings-search {
  top: 142px;
  position: sticky;
  border-radius: 3px;
  border: .6px solid gray;
  height: 360px;
  width: 420px;
}
.whole-show .guests  {
  width: 95%;
  margin-bottom: 4%;
}
.whole-show .bookings-search > button {
  margin-top: 10px;
  margin-bottom: 4%;
}

.spot-show-map-search > h1 {
  padding-left: 28px;
}
.spot-show-map-search .spot-map #map-container{
  width: 130%;
  margin-bottom: 10%;
}

.show-datepickers {
  border-bottom: 1px solid #ebebeb;
}

.show-datepickers > h4 {
  font-weight: 500;
  color: #484848; 
  padding-left: 8px;
}

.show-datepickers .datepickers .date-pickers .DateRangePicker > div > div {
  border-radius: 2px;
  border: 1px solid #dbdbdb;
  width: 87.5%;
  border-radius: 3px;
  overflow: hidden;
}

.show-datepickers .datepickers .date-pickers .DateRangePickerInput_clearDates {
  margin: 0 30px 5px;
}

