
#show-greeting > section {
  background: image-url('cherheader.original.jpg');
  height: 105px;
  
}

#show-greeting > li {
  height: 50px;
  width: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.show-div {
  list-style: none;
  width: 40%;
  margin-top: 5%;
  margin-left: 5%;
}

.show-div > img {
  border-radius: 3px;
  height: 350px;
  width: 100%;
}

.basic-info {
  border-bottom: 1px solid #ebebeb;
  margin: 8px;
}

.show-spot-type {
  text-transform: uppercase;
  font-size: 14px;
}
.show-title {
  font-size: 30px;
  font-weight: bold;
}
.show-address {
  font-size: 18px;
  margin-bottom: 8px;
}


.show-description {
  border-bottom: 1px solid #ebebeb;
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: lighter;
}
.show-description > li {
  margin: 8px;
  font-weight: lighter;
}
.show-ammenities {
  margin: 8px;
}

.whole-show {
  display: flex;
}

.whole-show .bookings-search {
  top: 40px;
  position: sticky;
  border-radius: 3px;
  border: .6px solid gray;
  height: 360px;
  width: 420px;
}
.whole-show .guests  {
  width: 95%;
  margin-bottom: 4%;
}
.whole-show .bookings-search > button {
  margin-top: 10px;
  margin-bottom: 4%;
}

.spot-show-map-search {
  
}
.spot-show-map-search .spot-map #map-container{
  width: 150%;
  margin-bottom: 10%;
}

.show-datepickers .datepickers .date-pickers .DateRangePicker > div > div {
  border-radius: 2px;
  border: 1px solid #dbdbdb;
  width: 87.5%;
  border-radius: 5px;
  overflow: hidden;
}

.show-datepickers .datepickers .date-pickers .DateRangePickerInput_clearDates {
  margin: 0 30px 5px;
}