
#show-greeting > section {
  background: image-url('cherheader.original.jpg');
  height: 105px;
  
}

#show-greeting > li {
  height: 50px;
  width: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.show-div {
  list-style: none;
  width: 40%;
  margin-top: 5%;
  margin-left: 5%;
}

.show-div > img {
  border-radius: 3px;
  width: 100%;
}

.basic-info {
  border-bottom: 1px solid #ebebeb;
  margin: 8px;
}

.show-spot-type {
  text-transform: uppercase;
  font-size: 14px;
}
.show-title {
  font-size: 30px;
  font-weight: bold;
}
.show-address {
  font-size: 18px;
  margin-bottom: 8px;
}


.show-description {
  border-bottom: 1px solid #ebebeb;
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: lighter;
}
.show-description > li {
  margin: 8px;
  font-weight: lighter;
}
.show-ammenities {
  margin: 8px;
}

.whole-show {
  display: flex;
  justify-content: space-between
}

.whole-show .bookings-search {
  margin-left: 3%;
  margin-top: 8%;
  border-radius: 3px;
  border: .6px solid gray;

}